[German A1.1](../README.md#german-a11) > [Verbs](../README.md#verbs) > *VERB_NAME*

# VERB_NAME

To VERB_IN_EN

## Präsens (Present) 

- ich `de_verb` (I en_verb)
- du `de_verb` (you en_verb)
- er/sie/es `de_verb` (he/she/it en_verb)
- wir `de_verb` (we en_verb)
- ihr `de_verb` (you en_verb)
- Sie/sie `de_verb` (formal you/they en_verb)

### Beispiele (Examples)

`DE_EXAMPLE` (EN_TRANSLATION)

`DE_EXAMPLE` (EN_TRANSLATION)

